################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Jlion.NetCore.Demo/v16/Server/sqlite3
/src/microService/Jlion.NetCore.OrderApiService/bin/Debug/netcoreapp3.1
/src/microService/Jlion.NetCore.OrderService/bin
/src/microService/Jlion.NetCore.OrderService.Grpc/bin
/.vs/Jlion.NetCore.Demo/DesignTimeBuild
/.vs/Jlion.NetCore.Demo/v15
/.vs

/src/identityServer4/Jlion.NetCore.Identity.Service/obj
/src/identityServer4/Jlion.NetCore.Identity.UserApiService/obj
/src/microService/Jlion.NetCore.OrderApiService/obj
/src/microService/Jlion.NetCore.OrderService/obj
/src/microService/Jlion.NetCore.OrderService.Grpc/obj
/src/httpClient/Jlion.NetCore.HttpClient.DemoService/obj
/src/httpClient/Jlion.NetCore.HttpClient.DemoService/bin/Debug/netcoreapp3.1
